[submodule "themes/hugo-trainsh"]
	path = themes/hugo-trainsh
	url = https://github.com/binbinsh/hugo-trainsh
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
